<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="/home">
        <img class="navbar-brand-logo"
            src="https://d1qywhc7l90rsa.cloudfront.net/accounts/165281/images/YHS-Rose-Lock-Up-Square-Full-Colour-RGB.png"
            alt="YHS Square Logo Lock-Up">
        <!-- Use CSS to wrap this text instead of hardcoded breaks if possible. -->
        <span class="navbar-brand-caption">Senior <br>Learning <br>Commons</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Resources
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/az.php">All Resources</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/resources/catalogue" target="_blank">Catalogue</a>
                    <a class="dropdown-item" href="/orders">Request A Title</a>
                    <a class="dropdown-item" style="display: none;" href="#">Volunteer's Spotlight</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Guides
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/guides">All Guides</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/research-sources">Searching for Sources</a>
                    <a class="dropdown-item" href="/find-your-book">Find Your Next Book</a>
                    <a class="dropdown-item" href="/truth-and-reconciliation">Truth & Reconcilliation</a>
                    <a class="dropdown-item" href="/mental-health">Mental Health</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Assignments
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/assignments">All Assignments</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/home">Sr LC Collaboration Hub: Homes</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Clubs
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/clubs">All Clubs</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" style="display: none;" href="#">Tutoring</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About Us</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" role="search" id="s-lg-guide-search-form"
            action="https://yorkhouse.libguides.com/srch.php" method="GET">
            <div class="input-group input-group-sm">
                <input type="text" id="s-lg-guide-search-terms" name="q" class="form-control mr-sm-2 my-2"
                    maxlength="260" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </span>
            </div>
        </form>
    </div>
</nav>