<div id="s-lib-banner" class="container s-lib-banner-public">
    <a href="https://www.yorkhouse.ca" title="" target="" aria-hidden="true" tabindex="-1">
        <img alt="Banner" name="s-lib-banner-img" id="s-lib-banner-img" class="img-responsive"
            src="//d1qywhc7l90rsa.cloudfront.net/sites/26075/banner/YHS_Banner.png" aria-hidden="true" tabindex="-1">
    </a>
</div>
<nav class="overhaul navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home">
        <img class="navbar-brand-logo"
            src="https://d1qywhc7l90rsa.cloudfront.net/accounts/165281/images/YHS-Rose-Lock-Up-Square-Full-Colour-RGB.png"
            alt="YHS Square Logo Lock-Up">
        <span class="navbar-brand-caption">Senior <br>Learning <br>Commons</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
        <div id="s-lg-guide-header-search">
            <div id="s-lg-guide-search-box">
                <form class="form-inline my-2 my-lg-0" role="search" id="s-lg-guide-search-form"
                    action="https://yorkhouse.libguides.com/srch.php" method="GET">
                    <div class="input-group input-group-sm">
                        <input type="text" id="s-lg-guide-search-terms" name="q" class="form-control mr-sm-2"
                            maxlength="260" placeholder="Enter Search Words">
                        <label class="sr-only" for="s-lg-guide-search-terms">Enter Search Words</label>
                        <span class="input-group-btn">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</nav>