<nav class="navbar navbar-expand-xl">
    <div class="container-fluid">
        <div class="navbar-brand" >
            <a href="https://www.yorkhouse.ca/" target="_blank" class="navbar-logo-link">
                <img class="navbar-brand-logo"
                src="https://d1qywhc7l90rsa.cloudfront.net/customers/10289/images/YHS-Rose-Lock-Up-Square-Gold-White-RGB.png"
                alt="YHS Square Logo Lock-Up">
            </a>
            <a href="/" target="_blank" class="navbar-home-link">Senior <br>Learning <br>Commons</a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/" target="_blank">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Resources
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/az.php" target="_blank">All Resources</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/resources/catalogue" target="_blank">Our Catalogue</a></li>
                        <li><a class="dropdown-item" href="/resources/sora" target="_blank">Sora E-Books</a></li>
                        <li><a class="dropdown-item" href="/orders" target="_blank">Request A Title</a></li>
                        <li><a class="dropdown-item" href="/az.php?s=138977" target="_blank">Databases - Multi-Subject</a></li>
                        <li><a class="dropdown-item" href="/az.php?s=138907" target="_blank">Databases - English</a></li>
                        <li><a class="dropdown-item" href="/az.php?s=138908" target="_blank">Databases - Science</a></li>
                        <li><a class="dropdown-item" href="/az.php?s=138909" target="_blank">Databases - Socials</a></li>
                        <li><a class="dropdown-item" href="/az.php?s=138924" target="_blank">News Sources</a></li>
                        <li><a class="dropdown-item" style="display: none;" href="#">Volunteer's Spotlight</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        How To
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/how-to" target="_blank">All "How To" Guides</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/how-to/assess-reliability" target="_blank">Assess Reliability</a></li>
                        <li><a class="dropdown-item" href="/how-to/research-sources" target="_blank">Searching for Sources</a></li>
                        <li><a class="dropdown-item" href="/how-to/find-your-book" target="_blank">Find Your Next Book</a></li>
                        <li><a class="dropdown-item" href="/how-to/3d-printing" target="_blank">3D Printing</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Collections
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/collections" target="_blank">All Collections</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/collections/reading-lists" target="_blank">Reading Lists</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/collections/black-history" target="_blank">Black History</a></li>
                        <li><a class="dropdown-item" href="/collections/first-nations" target="_blank">First Nations</a></li>
                        <li><a class="dropdown-item" href="/collections/mental-health" target="_blank">Mental Health</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Collaboration
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/collaboration" target="_blank">All Collaboration</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/collaboration/2025-25" target="_blank">2024-25 (Current)</a></li>
                        <li><a class="dropdown-item" href="/collaboration/2023-24" target="_blank">2023-24</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Student Initiatives
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/initiatives" target="_blank">All Initiatives</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/initiatives/publications" target="_blank">Student Publications</a></li>
                        <li><a class="dropdown-item" href="/initiatives/model-un" target="_blank">Model UN</a></li>
                        <li><a class="dropdown-item" style="display: none;" href="#">Tutoring</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about" target="_blank">About</a>
                </li>
            </ul>
            <form class="d-flex" action="/srch.php" method="GET">
                <input class="form-control me-2" type="text" name="q" maxlength="260" placeholder="Search" aria-label="Search" role="search">
            </form>
        </div>
    </div>
</nav>