<nav class="navbar navbar-expand-xl navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home" target="_blank">
            <img class="navbar-brand-logo"
                src="https://d1qywhc7l90rsa.cloudfront.net/accounts/165281/images/YHS-Rose-Lock-Up-Square-Full-Colour-RGB.png"
                alt="YHS Square Logo Lock-Up">
            <!-- Use CSS to wrap this text instead of hardcoded breaks if possible. -->
            <span class="navbar-brand-caption">Senior <br>Learning <br>Commons</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/home" target="_blank">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Resources
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/az.php" target="_blank">All Resources</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/resources/catalogue" target="_blank">Our Catalogue</a></li>
                        <li><a class="dropdown-item" href="/resources/sora" target="_blank">Sora E-Books</a></li>
                        <li><a class="dropdown-item" href="/orders" target="_blank">Request A Title</a></li>
                        <li><a class="dropdown-item" href="/az.php?s=138907" target="_blank">Resources for English</a></li>
                        <li><a class="dropdown-item" href="/az.php?s=138908" target="_blank">Resources for Science</a></li>
                        <li><a class="dropdown-item" href="/az.php?s=138909" target="_blank">Resources for Socials</a></li>
                        <li><a class="dropdown-item" href="/az.php?s=138924" target="_blank">News Sources</a></li>
                        <li><a class="dropdown-item" style="display: none;" href="#">Volunteer's Spotlight</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        How To
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/how-to" target="_blank">All "How To" Guides</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/how-to/assess-reliability" target="_blank">Assess Reliability</a></li>
                        <li><a class="dropdown-item" href="/how-to/research-sources" target="_blank">Searching for Sources</a></li>
                        <li><a class="dropdown-item" href="/how-to/find-your-book" target="_blank">Find Your Next Book</a></li>
                        <li><a class="dropdown-item" href="/how-to/3d-printing" target="_blank">3D Printing</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Collections
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/collections" target="_blank">All Collections</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/collections/reading-lists" target="_blank">Reading Lists</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/collections/black-history" target="_blank">Black History</a></li>
                        <li><a class="dropdown-item" href="/collections/first-nations" target="_blank">First Nations</a></li>
                        <li><a class="dropdown-item" href="/collections/mental-health" target="_blank">Mental Health</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Assignments
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/assignments" target="_blank">All Assignments</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/assignments/this-year" target="_blank">This Year</a></li>
                        <li><a class="dropdown-item" href="/assignments/2023-24" target="_blank">2023-24</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Student Initiatives
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/initiatives" target="_blank">All Initiatives</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/initiatives/publications" target="_blank">Student Publications</a></li>
                        <li><a class="dropdown-item" href="/initiatives/model-un" target="_blank">Model UN</a></li>
                        <li><a class="dropdown-item" style="display: none;" href="#">Tutoring</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about" target="_blank">About</a>
                </li>
            </ul>
            <form class="d-flex" action="https://yorkhouse.libguides.com/srch.php" method="GET">
                <input class="form-control me-2" type="text" name="q" maxlength="260" placeholder="Search" aria-label="Search" role="search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>