<body class="s-lib-public-body">
    {{skip_link}}
    <!-- BEGIN: Page Header -->
    {{public_header}}
    <!-- END: Page Header -->
    <!-- BEGIN: Content Header -->
    <div id="s-lib-public-header" class="s-lib-header container s-lib-side-borders">
        <h1>Resources</h1>
    </div>
    <!-- END: Content Header -->
    <!-- BEGIN: Content -->
    <div id="s-lib-public-main" class="s-lib-main container s-lib-side-borders" tabindex="-1">
        
        <div id="filter">
            <div id="heading">
                <h2>
                    Filter Resources
                </h2>
                <button id="resource-reset" class="btn btn-default btn-sm s-lib-hide" type="button"
                onclick="springSpace.azList.reset();">Clear</button>
            </div>
            <nav>
                <li>
                    <form role="search" onsubmit="springSpace.publicObj.filterAzBySearch(26075); return false;">
                        <div class="form-group">
                            <label class="control-label sr-only" for="s-lg-az-search">
                                DATABASES
                            </label>
                            <div class="input-group">
                                <input type="text" class="s-lg-az-search form-control" aria-label="Search Resources"
                                    placeholder="By Search" maxlength="260">
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-outline-secondary" type="submit" aria-label="Go">
                                        Go
                                    </button>
                                </span>
                            </div>
                        </div>
                    </form>
                </li>
                <li class="dropdown">
                    <a class="nav-item dropdown-toggle" data-toggle="dropdown">By Subject</a>
                    <select multiple size="8" id="s-lg-sel-subjects" class="col-subjects dropdown-menu" name="s-lg-sel-subjects" class="s-lg-sel-subjects form-control"
                        onchange="springSpace.publicObj.filterAzBySubject(jQuery(this).val(), 26075);">
                    </select>
                </li>
                <li class="dropdown">
                    <a class="nav-item dropdown-toggle" data-toggle="dropdown">By Type</a>
                    <select multiple size="8" id="s-lg-sel-az-types" class="col-types dropdown-menu" name="s-lg-sel-az-types" class="s-lg-sel-az-types form-control"
                        onchange="springSpace.publicObj.filterAzByType(jQuery(this).val(), 26075);"
                        data-placeholder="All Database Types">
                    </select>
                </li>
                <li class="dropdown">
                    <a class="nav-item dropdown-toggle" data-toggle="dropdown">By Vendor</a>
                    <select multiple size="8" id="s-lg-sel-az-vendors" class="col-vendors dropdown-menu" name="s-lg-sel-az-vendors" class="s-lg-sel-az-vendors form-control"
                        onchange="springSpace.publicObj.filterAzByVendor(jQuery(this).val(), 26075);"
                        data-placeholder="All Vendors / Providers">
                    </select>
                </li>
            </nav>
            <div id="original-filter" style="display: none;"> <!--The script that filters content checks the original setup somehow to stack categories.-->
                {{navbar_wide}}
            </div>
        </div>
        <div id="resource-results">
            <div id="featured-resource-list">
                {{popular_box}}
            </div>
            <div id="resource-list">
                <div id="filter-label">
                    {{search_reset}}
                </div>
                <div id="s-lg-az-content" class="pad-right-sm">
                    <div class="bold s-lib-color-lt-grey pad-top-med text-center">Loading...</div>
                </div>
            </div>
        </div>
    </div>
    <style>
        #s-lib-public-header {
            text-align: center;
        }
        #s-lib-public-main {
            display: flex;
            flex-wrap: wrap;
            gap: 16px
        }
        #resource-results {
            min-width: 300px;
            flex: 1 0 auto;
            width: 70%;
        }
        #s-lg-az-reset {
            display: none !important;
        }
        .s-lg-az-result-share,
        #featured-resource-list .s-lg-az-result-badges,
        #resource-filter .navbar-header {
            display: none;
        }
        .s-lg-az-result-badges {
            float: right;
        }
        #filter {
            width: 25%;
            flex: 1 0 auto;
            min-width: 230px;
        }
        #filter h2 {
            font-size: 22px;
        }
        #filter #heading {
            display: inline-flex;
            justify-content: space-between;
            width: 100%;
            padding-bottom: 8px;
        }
        #filter li {
            list-style-type: none;
        }
        #filter button {
            border: 1px solid #ced4da;
        }
        #filter nav {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
        #filter .dropdown-menu {
            display: none;
            position: relative;
            overflow: auto;
            height: fit-content;
            width: 100% !important;
        }
        #filter .open .dropdown-menu {
            display: block;
        }
        .s-lg-db-panel {
            margin-bottom: 0;
        }
        h3.s-lg-db-panel-title {
            display: none;
        }
    </style>
    <script>
        $(document).ready(function () {
            $("[data-toggle='dropdown']").click(function (e) {
                $(this).parents(".dropdown").toggleClass("open");  /*when you click on an element with attr data-toggle='dropdown' it toggle the class "open" on its parent with class "dropdown"*/
                e.stopPropagation();
            });
            $("#filter").click(function () {
                setTimeout(() => {
                    var is_filtered = $("#s-lg-az-result-count").text().includes("for")
                    if (is_filtered) {$("#featured-resource-list").hide()}
                    else {$("#featured-resource-list").show()}
                    console.log("filter: " + is_filtered)
                }, 200);
            });
        });
    </script>
    <!-- END: Content -->
    
    <div id="page-footer">
        <div id="default-page-footer">
            {{system_footer}}
        </div>
        {{public_footer}}
    </div>

    <!-- Below this point is default LibGuides utilities: Popups & Alerts-->
    <div id="s-lib-alert" title="">
        <div id="s-lib-alert-content"></div>
    </div>
    <!-- popover.twig -->
    <div id="s-lib-popover-title" class="hide">
        <span class="text-info">
            <strong>title</strong>
        </span>

        <button type="button" id="popclose" class="close" onclick="jQuery('.s-lib-popover').popover('hide')">
            &times;
        </button>
    </div>
    <div id="s-lib-popover-content" class="hide">
        <i class="fa fa-refresh fa-spin"></i> Loading...
        <button class="btn btn-default btn-sm popclose" type="button">Close</button>
    </div>
    <!-- !popover.twig -->
</body>