<body class="s-lib-public-body">
    {{skip_link}}
    <div id="site-header">{{public_header}}</div>
    <div id="page-content" class="az-resources">
        <h1 class="page-header">Resources</h1>
        <div class="container">
            <div id="filter">
                <div id="filter-heading">
                    <h2>
                        Filter Resources
                    </h2>
                    <button id="resource-reset" class="btn btn-default btn-sm s-lib-hide" style="display: none;"
                        type="button" ] onclick="springSpace.azList.reset();">Clear</button>
                </div>
                <nav>
                    <li>
                        <form role="search" onsubmit="springSpace.publicObj.filterAzBySearch(26075); return false;">
                            <div class="form-group">
                                <label class="control-label sr-only" for="s-lg-az-search">
                                    DATABASES
                                </label>

                                <div class="input-group">
                                    <input type="text" class="s-lg-az-search form-control"
                                        aria-label="Search for Databases" placeholder="By Search" maxlength="260">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default btn-outline-secondary" type="submit"
                                            aria-label="Go">
                                            Go
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </form>

                    </li>
                    <li class="dropdown">
                        <a class="nav-item dropdown-toggle" data-toggle="dropdown">By Subject</a>
                        <select size="8" id="s-lg-sel-subjects" class="col-subjects dropdown-menu"
                            name="s-lg-sel-subjects" class="s-lg-sel-subjects form-control"
                            onchange="springSpace.publicObj.filterAzBySubject(jQuery(this).val(), 26075);">
                        </select>
                    </li>
                    <li class="dropdown">
                        <a class="nav-item dropdown-toggle" data-toggle="dropdown">By Type</a>
                        <select size="8" id="s-lg-sel-az-types" class="col-types dropdown-menu" name="s-lg-sel-az-types"
                            class="s-lg-sel-az-types form-control"
                            onchange="springSpace.publicObj.filterAzByType(jQuery(this).val(), 26075);">
                        </select>
                    </li>
                    <li class="dropdown">
                        <a class="nav-item dropdown-toggle" data-toggle="dropdown">By Vendor</a>
                        <select size="8" id="s-lg-sel-az-vendors" class="col-vendors dropdown-menu"
                            name="s-lg-sel-az-vendors" class="s-lg-sel-az-vendors form-control"
                            onchange="springSpace.publicObj.filterAzByVendor(jQuery(this).val(), 26075);">
                        </select>
                    </li>
                </nav>
                <div id="original-filter" style="display: none;">
                    <!--The script that filters content checks the original setup somehow to stack categories.-->
                    {{navbar_wide}}
                </div>
            </div>
            <div id="resource-results">
                <div id="featured-resource-list">
                    {{popular_box}}
                </div>
                <div id="resource-list">
                    <div id="filter-label">
                        {{search_reset}}
                    </div>
                    <div id="s-lg-az-content" class="pad-right-sm">
                        <div class="bold s-lib-color-lt-grey pad-top-med text-center">Loading...</div>
                    </div>
                </div>
            </div>
        </div>
        <script> // Dropdown toggles
            $(document).ready(function () {
                $("[data-toggle='dropdown']").click(function (e) { /* Open/Close Dropdown when clicked */
                    $(this).parents(".dropdown").toggleClass("open");
                    e.stopPropagation();
                });
            });
        </script>
        <script> // Drag to scroll
            document.addEventListener('DOMContentLoaded', function () {
                const ele = document.getElementById('s-lg-az-popular');
                ele.style.cursor = 'grab';

                let pos = { top: 0, left: 0, x: 0, y: 0 };

                const mouseDownHandler = function (e) {
                    ele.style.cursor = 'grabbing';
                    ele.style.userSelect = 'none';

                    pos = {
                        left: ele.scrollLeft,
                        top: ele.scrollTop,
                        // Get the current mouse position
                        x: e.clientX,
                        y: e.clientY,
                    };

                    document.addEventListener('mousemove', mouseMoveHandler);
                    document.addEventListener('mouseup', mouseUpHandler);
                };

                const mouseMoveHandler = function (e) {
                    // How far the mouse has been moved
                    const dx = e.clientX - pos.x;
                    const dy = e.clientY - pos.y;

                    // Scroll the element
                    ele.scrollTop = pos.top - dy;
                    ele.scrollLeft = pos.left - dx;
                };

                const mouseUpHandler = function () {
                    ele.style.cursor = 'grab';
                    ele.style.removeProperty('user-select');

                    document.removeEventListener('mousemove', mouseMoveHandler);
                    document.removeEventListener('mouseup', mouseUpHandler);
                };

                // Attach the handler
                ele.addEventListener('mousedown', mouseDownHandler);
            });
        </script>
    </div>
    <div id="site-footer">
        <div id="default-footer">
            {{system_footer}}
        </div>
        {{public_footer}}
    </div>
    <div id="default-libguide-utilities">
        <div id="s-lib-alert" title="">
            <div id="s-lib-alert-content"></div>
        </div>
        <!-- popover.twig -->
        <div id="s-lib-popover-title" class="hide">
            <span class="text-info">
                <strong>title</strong>
            </span>

            <button type="button" id="popclose" class="close" onclick="jQuery('.s-lib-popover').popover('hide')">
                &times;
            </button>
        </div>
        <div id="s-lib-popover-content" class="hide">
            <i class="fa fa-refresh fa-spin"></i> Loading...
            <button class="btn btn-default btn-sm popclose" type="button">Close</button>
        </div>
        <!-- !popover.twig -->
    </div>
    <script>
        var isUpdating = false
        const observeUrlChange = () => {
            const body = document.querySelector('body');
            const observer = new MutationObserver(mutation => handleMutation());
            observer.observe(body, { childList: true, subtree: true });
        };

        async function handleMutation() {
            if (!isUpdating) {
                isUpdating = true
                /* Ensure all elements have an empty image to target */
                $(".s-lg-az-result:not(:has(.resource-card-image))").each(function (i, elem) {
                    $(this).prepend(`<img class="resource-card-image">`)
                });

                /* Grab featured images */
                var image_array = []
                $(".s-lg-az-result a").each(function (i, elem) {
                    var title = $(this).text().trim();
                    var imageSource = "https://d1qywhc7l90rsa.cloudfront.net/customers/10289/images/" + title.replace(/( |\/|\"|\'|\’|\&|\(|\))/g, "_") + ".jpg"
                    var image = `<img class="resource-card-image" src="` + imageSource + `" onerror="this.onerror=null; this.width=0;" alt="" width="48"height="48">`
                    image_array.push(image)
                });

                /* Push images to all targets */
                $(".resource-card-image").each(function (i, elem) {
                    $(this).replaceWith(image_array[i])
                });

                /* Hide/show featured resources */
                var is_filtered = $("#s-lg-az-result-count").text().includes("for")
                if (is_filtered) {
                    $("#featured-resource-list").hide();
                    $("#resource-reset").show();
                } else {
                    $("#featured-resource-list").show();
                    $("#resource-reset").hide();
                }
                /* Relabel Databases found > Resources found */
                $("#s-lg-az-result-count").text($("#s-lg-az-result-count").text().replace("Database", "Resource"));
                
                await new Promise(r => setTimeout(r, 20));
                isUpdating = false
            }
        }
        window.onload = observeUrlChange;

        document.addEventListener('DOMContentLoaded', function () {
            setTimeout(handleMutation(), 200);
        });
    </script>
    <!--
    <style>
        #featured-resource-list .s-lg-az-result-title {
            display: inline-block;
            text-align: center;
            width: calc(100% - 78px);
        }
        #resource-list .s-lg-az-result-title {
            vertical-align: top;
            display: inline-block;
            width: 0;
            margin: 0;
            white-space: nowrap;
        }
        .s-lg-az-result-description {
            display: inline-block;
            vertical-align: bottom; 
        }
        .resource-card-image {
            object-fit: cover;
        }
    </style> 
    -->
</body>