<body class="s-lg-guide-body">
    {{skip_link}}
    {{ADMIN_CMD_BAR}}
    <!-- BEGIN: Page Header -->
    {{public_header}}
    <!-- END: Page Header -->
    <!-- BEGIN: Guide Info Header -->
    <div id="s-lg-guide-header" class="container s-lib-header s-lib-side-borders">
        <div id="s-lg-guide-header-info">
            <h1 id="s-lg-guide-name">{{guide_title}}: {{page_title}}</h1>
            <div id="s-lg-guide-desc-container">
                <span id="s-lg-guide-description">{{guide_description}}</span>
            </div>
        </div>
    </div>
    <!-- END: Guide Info Header -->
    <div id="s-lg-tabs-container" class="container s-lib-side-borders pad-top-med">
        <div id="s-lg-guide-tabs" class="tabs" role="navigation" aria-label="Guide Pages">
            <ul class="nav nav-tabs split-button-nav">
                {{guide_nav}}
            </ul>
        </div>
    </div>
    <div id="s-lg-guide-tabs-title-bar" class="container s-lib-side-borders"></div>
    <!-- BEGIN: Guide Content -->

    <!-- The following div is a copy of the homepage's output.-->
    <div id="page-content">
        <section aria-label="List of Guides">
            <div id="s-lg-index-list-guides" class="row">
                <div id="col-1" class="col-md-12 center"><!-- index_page_guide_list_row.twig -->
                    <div>
                        <div class="s-lib-box s-lib-border-round s-lib-box-idx-guide-list">
                            <div class="s-lib-box-content">
                                <div class="s-lg-gtitle s-lib-color-lt-grey">
                                    <a class="bold" href="https://yorkhouse.libguides.com/c.php?g=743122">2024/25 - Art
                                        8 - Comic Drawing</a>
                                    <div class="s-ui-helptip"><button id="s-ui-helptip-btn-guide-info-743122"
                                            type="button" class="btn btn-link btn-help-popover"
                                            data-ajload="/index_process.php?action=175&amp;guide_id=743122&amp;group_id=0"
                                            data-title="2024/25 - Art 8 - Comic Drawing"><i
                                                class="fa fa-info-circle"></i><span class="sr-only">View Guide
                                                Info</span></button></div>
                                    <div class="s-lg-gmeta pull-right s-lg-small s-lib-color-lt-grey">
                                        <span title="Last Updated" class="s-lib-color-lt-grey"><i
                                                class="fa fa-edit icon-small"></i> <span class="sr-only">Last
                                                Updated</span>Feb 25, 2025</span>
                                        <span title="Number of visits this year" class="pad-left-med hitst"><i
                                                class="fa fa-eye icon-small"></i> 1<span class="sr-only">
                                                views</span></span>
                                    </div>
                                </div>
                            </div> <!-- gd -->
                        </div>
                    </div><!-- index_page_guide_list_row.twig -->
                    <div>
                        <div class="s-lib-box s-lib-border-round s-lib-box-idx-guide-list">
                            <div class="s-lib-box-content">
                                <div class="s-lg-gtitle s-lib-color-lt-grey">
                                    <a class="bold"
                                        href="https://yorkhouse.libguides.com/initiatives/publications">Student
                                        Publications</a>
                                    <div class="s-ui-helptip"><button id="s-ui-helptip-btn-guide-info-742888"
                                            type="button" class="btn btn-link btn-help-popover"
                                            data-ajload="/index_process.php?action=175&amp;guide_id=742888&amp;group_id=0"
                                            data-title="Student Publications"><i class="fa fa-info-circle"></i><span
                                                class="sr-only">View Guide Info</span></button></div>
                                    <div class="s-lg-gmeta pull-right s-lg-small s-lib-color-lt-grey">
                                        <span title="Last Updated" class="s-lib-color-lt-grey"><i
                                                class="fa fa-edit icon-small"></i> <span class="sr-only">Last
                                                Updated</span>Feb 20, 2025</span>
                                        <span title="Number of visits this year" class="pad-left-med hitst"><i
                                                class="fa fa-eye icon-small"></i> 8<span class="sr-only">
                                                views</span></span>
                                    </div>
                                </div>
                            </div> <!-- gd -->
                        </div>
                    </div><!-- index_page_guide_list_row.twig -->
                    <div>
                        <div class="s-lib-box s-lib-border-round s-lib-box-idx-guide-list">
                            <div class="s-lib-box-content">
                                <div class="s-lg-gtitle s-lib-color-lt-grey">
                                    <a class="bold" href="https://yorkhouse.libguides.com/c.php?g=743118">2023/24 -
                                        English 8 - Swing Research</a>
                                    <div class="s-ui-helptip"><button id="s-ui-helptip-btn-guide-info-743118"
                                            type="button" class="btn btn-link btn-help-popover"
                                            data-ajload="/index_process.php?action=175&amp;guide_id=743118&amp;group_id=0"
                                            data-title="2023/24 - English 8 - Swing Research"><i
                                                class="fa fa-info-circle"></i><span class="sr-only">View Guide
                                                Info</span></button></div>
                                    <div class="s-lg-gmeta pull-right s-lg-small s-lib-color-lt-grey">
                                        <span title="Last Updated" class="s-lib-color-lt-grey"><i
                                                class="fa fa-edit icon-small"></i> <span class="sr-only">Last
                                                Updated</span>Feb 20, 2025</span>
                                        <span title="Number of visits this year" class="pad-left-med hitst"><i
                                                class="fa fa-eye icon-small"></i> 0<span class="sr-only">
                                                views</span></span>
                                    </div>
                                </div>
                            </div> <!-- gd -->
                        </div>
                    </div><!-- index_page_guide_list_row.twig -->
                    <div>
                        <div class="s-lib-box s-lib-border-round s-lib-box-idx-guide-list">
                            <div class="s-lib-box-content">
                                <div class="s-lg-gtitle s-lib-color-lt-grey">
                                    <a class="bold" href="https://yorkhouse.libguides.com/home">Sr LC Collaboration
                                        Hub</a>
                                    <div class="s-ui-helptip"><button id="s-ui-helptip-btn-guide-info-741336"
                                            type="button" class="btn btn-link btn-help-popover"
                                            data-ajload="/index_process.php?action=175&amp;guide_id=741336&amp;group_id=0"
                                            data-title="Sr LC Collaboration Hub"><i class="fa fa-info-circle"></i><span
                                                class="sr-only">View Guide Info</span></button></div>
                                    <div class="s-lg-gmeta pull-right s-lg-small s-lib-color-lt-grey">
                                        <span title="Last Updated" class="s-lib-color-lt-grey"><i
                                                class="fa fa-edit icon-small"></i> <span class="sr-only">Last
                                                Updated</span>Feb 20, 2025</span>
                                        <span title="Number of visits this year" class="pad-left-med hitst"><i
                                                class="fa fa-eye icon-small"></i> 489<span class="sr-only">
                                                views</span></span>
                                    </div>
                                </div>
                            </div> <!-- gd -->
                        </div>
                    </div><!-- index_page_guide_list_row.twig -->
                    <div>
                        <div class="s-lib-box s-lib-border-round s-lib-box-idx-guide-list">
                            <div class="s-lib-box-content">
                                <div class="s-lg-gtitle s-lib-color-lt-grey">
                                    <a class="bold"
                                        href="https://yorkhouse.libguides.com/how-to/research-sources">Searching for
                                        Sources</a>
                                    <div class="s-ui-helptip"><button id="s-ui-helptip-btn-guide-info-742625"
                                            type="button" class="btn btn-link btn-help-popover"
                                            data-ajload="/index_process.php?action=175&amp;guide_id=742625&amp;group_id=0"
                                            data-title="Searching for Sources"><i class="fa fa-info-circle"></i><span
                                                class="sr-only">View Guide Info</span></button></div>
                                    <div class="s-lg-gmeta pull-right s-lg-small s-lib-color-lt-grey">
                                        <span title="Last Updated" class="s-lib-color-lt-grey"><i
                                                class="fa fa-edit icon-small"></i> <span class="sr-only">Last
                                                Updated</span>Feb 20, 2025</span>
                                        <span title="Number of visits this year" class="pad-left-med hitst"><i
                                                class="fa fa-eye icon-small"></i> 18<span class="sr-only">
                                                views</span></span>
                                    </div>
                                </div>
                            </div> <!-- gd -->
                        </div>
                    </div><!-- index_page_guide_list_row.twig -->
                    <div>
                        <div class="s-lib-box s-lib-border-round s-lib-box-idx-guide-list">
                            <div class="s-lib-box-content">
                                <div class="s-lg-gtitle s-lib-color-lt-grey">
                                    <a class="bold" href="https://yorkhouse.libguides.com/orders">Request A Title</a>
                                    <div class="s-ui-helptip"><button id="s-ui-helptip-btn-guide-info-743102"
                                            type="button" class="btn btn-link btn-help-popover"
                                            data-ajload="/index_process.php?action=175&amp;guide_id=743102&amp;group_id=0"
                                            data-title="Request A Title"><i class="fa fa-info-circle"></i><span
                                                class="sr-only">View Guide Info</span></button></div>
                                    <div class="s-lg-gmeta pull-right s-lg-small s-lib-color-lt-grey">
                                        <span title="Last Updated" class="s-lib-color-lt-grey"><i
                                                class="fa fa-edit icon-small"></i> <span class="sr-only">Last
                                                Updated</span>Feb 20, 2025</span>
                                        <span title="Number of visits this year" class="pad-left-med hitst"><i
                                                class="fa fa-eye icon-small"></i> 9<span class="sr-only">
                                                views</span></span>
                                    </div>
                                </div>
                            </div> <!-- gd -->
                        </div>
                    </div><!-- index_page_guide_list_row.twig -->
                    <div>
                        <div class="s-lib-box s-lib-border-round s-lib-box-idx-guide-list">
                            <div class="s-lib-box-content">
                                <div class="s-lg-gtitle s-lib-color-lt-grey">
                                    <a class="bold"
                                        href="https://yorkhouse.libguides.com/collections/reading-lists">Reading
                                        Lists</a>
                                    <div class="s-ui-helptip"><button id="s-ui-helptip-btn-guide-info-743180"
                                            type="button" class="btn btn-link btn-help-popover"
                                            data-ajload="/index_process.php?action=175&amp;guide_id=743180&amp;group_id=0"
                                            data-title="Reading Lists"><i class="fa fa-info-circle"></i><span
                                                class="sr-only">View Guide Info</span></button></div>
                                    <div class="s-lg-gmeta pull-right s-lg-small s-lib-color-lt-grey">
                                        <span title="Last Updated" class="s-lib-color-lt-grey"><i
                                                class="fa fa-edit icon-small"></i> <span class="sr-only">Last
                                                Updated</span>Feb 20, 2025</span>
                                        <span title="Number of visits this year" class="pad-left-med hitst"><i
                                                class="fa fa-eye icon-small"></i> 12<span class="sr-only">
                                                views</span></span>
                                    </div>
                                </div>
                            </div> <!-- gd -->
                        </div>
                    </div><!-- index_page_guide_list_row.twig -->
                    <div>
                        <div class="s-lib-box s-lib-border-round s-lib-box-idx-guide-list">
                            <div class="s-lib-box-content">
                                <div class="s-lg-gtitle s-lib-color-lt-grey">
                                    <a class="bold" href="https://yorkhouse.libguides.com/initiatives/model-un">Model
                                        UN</a>
                                    <div class="s-ui-helptip"><button id="s-ui-helptip-btn-guide-info-743126"
                                            type="button" class="btn btn-link btn-help-popover"
                                            data-ajload="/index_process.php?action=175&amp;guide_id=743126&amp;group_id=0"
                                            data-title="Model UN"><i class="fa fa-info-circle"></i><span
                                                class="sr-only">View Guide Info</span></button></div>
                                    <div class="s-lg-gmeta pull-right s-lg-small s-lib-color-lt-grey">
                                        <span title="Last Updated" class="s-lib-color-lt-grey"><i
                                                class="fa fa-edit icon-small"></i> <span class="sr-only">Last
                                                Updated</span>Feb 20, 2025</span>
                                        <span title="Number of visits this year" class="pad-left-med hitst"><i
                                                class="fa fa-eye icon-small"></i> 8<span class="sr-only">
                                                views</span></span>
                                    </div>
                                </div>
                            </div> <!-- gd -->
                        </div>
                    </div><!-- index_page_guide_list_row.twig -->
                    <div>
                        <div class="s-lib-box s-lib-border-round s-lib-box-idx-guide-list">
                            <div class="s-lib-box-content">
                                <div class="s-lg-gtitle s-lib-color-lt-grey">
                                    <a class="bold"
                                        href="https://yorkhouse.libguides.com/collections/mental-health">Mental
                                        Health</a>
                                    <div class="s-ui-helptip"><button id="s-ui-helptip-btn-guide-info-742403"
                                            type="button" class="btn btn-link btn-help-popover"
                                            data-ajload="/index_process.php?action=175&amp;guide_id=742403&amp;group_id=0"
                                            data-title="Mental Health"><i class="fa fa-info-circle"></i><span
                                                class="sr-only">View Guide Info</span></button></div>
                                    <div class="s-lg-gmeta pull-right s-lg-small s-lib-color-lt-grey">
                                        <span title="Last Updated" class="s-lib-color-lt-grey"><i
                                                class="fa fa-edit icon-small"></i> <span class="sr-only">Last
                                                Updated</span>Feb 20, 2025</span>
                                        <span title="Number of visits this year" class="pad-left-med hitst"><i
                                                class="fa fa-eye icon-small"></i> 30<span class="sr-only">
                                                views</span></span>
                                    </div>
                                </div>
                            </div> <!-- gd -->
                        </div>
                    </div><!-- index_page_guide_list_row.twig -->
                    <div>
                        <div class="s-lib-box s-lib-border-round s-lib-box-idx-guide-list">
                            <div class="s-lib-box-content">
                                <div class="s-lg-gtitle s-lib-color-lt-grey">
                                    <a class="bold"
                                        href="https://yorkhouse.libguides.com/collections/first-nations">First
                                        Nations</a>
                                    <div class="s-ui-helptip"><button id="s-ui-helptip-btn-guide-info-741382"
                                            type="button" class="btn btn-link btn-help-popover"
                                            data-ajload="/index_process.php?action=175&amp;guide_id=741382&amp;group_id=0"
                                            data-title="First Nations"><i class="fa fa-info-circle"></i><span
                                                class="sr-only">View Guide Info</span></button></div>
                                    <div class="s-lg-gmeta pull-right s-lg-small s-lib-color-lt-grey">
                                        <span title="Last Updated" class="s-lib-color-lt-grey"><i
                                                class="fa fa-edit icon-small"></i> <span class="sr-only">Last
                                                Updated</span>Feb 20, 2025</span>
                                        <span title="Number of visits this year" class="pad-left-med hitst"><i
                                                class="fa fa-eye icon-small"></i> 23<span class="sr-only">
                                                views</span></span>
                                    </div>
                                </div>
                            </div> <!-- gd -->
                        </div>
                    </div><!-- index_page_guide_list_row.twig -->
                    <div>
                        <div class="s-lib-box s-lib-border-round s-lib-box-idx-guide-list">
                            <div class="s-lib-box-content">
                                <div class="s-lg-gtitle s-lib-color-lt-grey">
                                    <a class="bold" href="https://yorkhouse.libguides.com/how-to/find-your-book">Find
                                        Your Next Book</a>
                                    <div class="s-ui-helptip"><button id="s-ui-helptip-btn-guide-info-742788"
                                            type="button" class="btn btn-link btn-help-popover"
                                            data-ajload="/index_process.php?action=175&amp;guide_id=742788&amp;group_id=0"
                                            data-title="Find Your Next Book"><i class="fa fa-info-circle"></i><span
                                                class="sr-only">View Guide Info</span></button></div>
                                    <div class="s-lg-gmeta pull-right s-lg-small s-lib-color-lt-grey">
                                        <span title="Last Updated" class="s-lib-color-lt-grey"><i
                                                class="fa fa-edit icon-small"></i> <span class="sr-only">Last
                                                Updated</span>Feb 20, 2025</span>
                                        <span title="Number of visits this year" class="pad-left-med hitst"><i
                                                class="fa fa-eye icon-small"></i> 5<span class="sr-only">
                                                views</span></span>
                                    </div>
                                </div>
                            </div> <!-- gd -->
                        </div>
                    </div><!-- index_page_guide_list_row.twig -->
                    <div>
                        <div class="s-lib-box s-lib-border-round s-lib-box-idx-guide-list">
                            <div class="s-lib-box-content">
                                <div class="s-lg-gtitle s-lib-color-lt-grey">
                                    <a class="bold"
                                        href="https://yorkhouse.libguides.com/collections/black-history">Black
                                        History</a>
                                    <div class="s-ui-helptip"><button id="s-ui-helptip-btn-guide-info-743418"
                                            type="button" class="btn btn-link btn-help-popover"
                                            data-ajload="/index_process.php?action=175&amp;guide_id=743418&amp;group_id=0"
                                            data-title="Black History"><i class="fa fa-info-circle"></i><span
                                                class="sr-only">View Guide Info</span></button></div>
                                    <div class="s-lg-gmeta pull-right s-lg-small s-lib-color-lt-grey">
                                        <span title="Last Updated" class="s-lib-color-lt-grey"><i
                                                class="fa fa-edit icon-small"></i> <span class="sr-only">Last
                                                Updated</span>Feb 20, 2025</span>
                                        <span title="Number of visits this year" class="pad-left-med hitst"><i
                                                class="fa fa-eye icon-small"></i> 6<span class="sr-only">
                                                views</span></span>
                                    </div>
                                </div>
                            </div> <!-- gd -->
                        </div>
                    </div><!-- index_page_guide_list_row.twig -->
                    <div>
                        <div class="s-lib-box s-lib-border-round s-lib-box-idx-guide-list">
                            <div class="s-lib-box-content">
                                <div class="s-lg-gtitle s-lib-color-lt-grey">
                                    <a class="bold"
                                        href="https://yorkhouse.libguides.com/how-to/assess-reliability">Assess
                                        Reliability</a>
                                    <div class="s-ui-helptip"><button id="s-ui-helptip-btn-guide-info-743525"
                                            type="button" class="btn btn-link btn-help-popover"
                                            data-ajload="/index_process.php?action=175&amp;guide_id=743525&amp;group_id=0"
                                            data-title="Assess Reliability"><i class="fa fa-info-circle"></i><span
                                                class="sr-only">View Guide Info</span></button></div>
                                    <div class="s-lg-gmeta pull-right s-lg-small s-lib-color-lt-grey">
                                        <span title="Last Updated" class="s-lib-color-lt-grey"><i
                                                class="fa fa-edit icon-small"></i> <span class="sr-only">Last
                                                Updated</span>Feb 20, 2025</span>
                                        <span title="Number of visits this year" class="pad-left-med hitst"><i
                                                class="fa fa-eye icon-small"></i> 5<span class="sr-only">
                                                views</span></span>
                                    </div>
                                </div>
                            </div> <!-- gd -->
                        </div>
                    </div><!-- index_page_guide_list_row.twig -->
                    <div>
                        <div class="s-lib-box s-lib-border-round s-lib-box-idx-guide-list">
                            <div class="s-lib-box-content">
                                <div class="s-lg-gtitle s-lib-color-lt-grey">
                                    <a class="bold"
                                        href="https://yorkhouse.libguides.com/c.php?g=743621">Anti-Islamophobia</a>
                                    <div class="s-ui-helptip"><button id="s-ui-helptip-btn-guide-info-743621"
                                            type="button" class="btn btn-link btn-help-popover"
                                            data-ajload="/index_process.php?action=175&amp;guide_id=743621&amp;group_id=0"
                                            data-title="Anti-Islamophobia"><i class="fa fa-info-circle"></i><span
                                                class="sr-only">View Guide Info</span></button></div>
                                    <div class="s-lg-gmeta pull-right s-lg-small s-lib-color-lt-grey">
                                        <span title="Last Updated" class="s-lib-color-lt-grey"><i
                                                class="fa fa-edit icon-small"></i> <span class="sr-only">Last
                                                Updated</span>Feb 20, 2025</span>
                                        <span title="Number of visits this year" class="pad-left-med hitst"><i
                                                class="fa fa-eye icon-small"></i> 0<span class="sr-only">
                                                views</span></span>
                                    </div>
                                </div>
                            </div> <!-- gd -->
                        </div>
                    </div><!-- index_page_guide_list_row.twig -->
                    <div>
                        <div class="s-lib-box s-lib-border-round s-lib-box-idx-guide-list">
                            <div class="s-lib-box-content">
                                <div class="s-lg-gtitle s-lib-color-lt-grey">
                                    <a class="bold" href="https://yorkhouse.libguides.com/about">About Us</a>
                                    <div class="s-ui-helptip"><button id="s-ui-helptip-btn-guide-info-743100"
                                            type="button" class="btn btn-link btn-help-popover"
                                            data-ajload="/index_process.php?action=175&amp;guide_id=743100&amp;group_id=0"
                                            data-title="About Us"><i class="fa fa-info-circle"></i><span
                                                class="sr-only">View Guide Info</span></button></div>
                                    <div class="s-lg-gmeta pull-right s-lg-small s-lib-color-lt-grey">
                                        <span title="Last Updated" class="s-lib-color-lt-grey"><i
                                                class="fa fa-edit icon-small"></i> <span class="sr-only">Last
                                                Updated</span>Feb 20, 2025</span>
                                        <span title="Number of visits this year" class="pad-left-med hitst"><i
                                                class="fa fa-eye icon-small"></i> 22<span class="sr-only">
                                                views</span></span>
                                    </div>
                                </div>
                            </div> <!-- gd -->
                        </div>
                    </div><!-- index_page_guide_list_row.twig -->
                    <div>
                        <div class="s-lib-box s-lib-border-round s-lib-box-idx-guide-list">
                            <div class="s-lib-box-content">
                                <div class="s-lg-gtitle s-lib-color-lt-grey">
                                    <a class="bold" href="https://yorkhouse.libguides.com/how-to/3d-printing">3D
                                        Printing</a>
                                    <div class="s-ui-helptip"><button id="s-ui-helptip-btn-guide-info-743001"
                                            type="button" class="btn btn-link btn-help-popover"
                                            data-ajload="/index_process.php?action=175&amp;guide_id=743001&amp;group_id=0"
                                            data-title="3D Printing"><i class="fa fa-info-circle"></i><span
                                                class="sr-only">View Guide Info</span></button></div>
                                    <div class="s-lg-gmeta pull-right s-lg-small s-lib-color-lt-grey">
                                        <span title="Last Updated" class="s-lib-color-lt-grey"><i
                                                class="fa fa-edit icon-small"></i> <span class="sr-only">Last
                                                Updated</span>Feb 20, 2025</span>
                                        <span title="Number of visits this year" class="pad-left-med hitst"><i
                                                class="fa fa-eye icon-small"></i> 8<span class="sr-only">
                                                views</span></span>
                                    </div>
                                </div>
                            </div> <!-- gd -->
                        </div>
                    </div><!-- index_page_guide_list_row.twig -->
                    <div>
                        <div class="s-lib-box s-lib-border-round s-lib-box-idx-guide-list">
                            <div class="s-lib-box-content">
                                <div class="s-lg-gtitle s-lib-color-lt-grey">
                                    <a class="bold" href="https://yorkhouse.libguides.com/c.php?g=743533">2024/25 -
                                        Entrepreneurship - Case Studies </a>
                                    <div class="s-ui-helptip"><button id="s-ui-helptip-btn-guide-info-743533"
                                            type="button" class="btn btn-link btn-help-popover"
                                            data-ajload="/index_process.php?action=175&amp;guide_id=743533&amp;group_id=0"
                                            data-title="2024/25 - Entrepreneurship - Case Studies "><i
                                                class="fa fa-info-circle"></i><span class="sr-only">View Guide
                                                Info</span></button></div>
                                    <div class="s-lg-gmeta pull-right s-lg-small s-lib-color-lt-grey">
                                        <span title="Last Updated" class="s-lib-color-lt-grey"><i
                                                class="fa fa-edit icon-small"></i> <span class="sr-only">Last
                                                Updated</span>Feb 20, 2025</span>
                                        <span title="Number of visits this year" class="pad-left-med hitst"><i
                                                class="fa fa-eye icon-small"></i> 0<span class="sr-only">
                                                views</span></span>
                                    </div>
                                </div>
                            </div> <!-- gd -->
                        </div>
                    </div><!-- index_page_guide_list_row.twig -->
                    <div>
                        <div class="s-lib-box s-lib-border-round s-lib-box-idx-guide-list">
                            <div class="s-lib-box-content">
                                <div class="s-lg-gtitle s-lib-color-lt-grey">
                                    <a class="bold" href="https://yorkhouse.libguides.com/c.php?g=743315">2024/25 -
                                        English First Peoples 12 - Trickster Research</a>
                                    <div class="s-ui-helptip"><button id="s-ui-helptip-btn-guide-info-743315"
                                            type="button" class="btn btn-link btn-help-popover"
                                            data-ajload="/index_process.php?action=175&amp;guide_id=743315&amp;group_id=0"
                                            data-title="2024/25 - English First Peoples 12 - Trickster Research"><i
                                                class="fa fa-info-circle"></i><span class="sr-only">View Guide
                                                Info</span></button></div>
                                    <div class="s-lg-gmeta pull-right s-lg-small s-lib-color-lt-grey">
                                        <span title="Last Updated" class="s-lib-color-lt-grey"><i
                                                class="fa fa-edit icon-small"></i> <span class="sr-only">Last
                                                Updated</span>Feb 20, 2025</span>
                                        <span title="Number of visits this year" class="pad-left-med hitst"><i
                                                class="fa fa-eye icon-small"></i> 9<span class="sr-only">
                                                views</span></span>
                                    </div>
                                </div>
                            </div> <!-- gd -->
                        </div>
                    </div><!-- index_page_guide_list_row.twig -->
                    <div>
                        <div class="s-lib-box s-lib-border-round s-lib-box-idx-guide-list">
                            <div class="s-lib-box-content">
                                <div class="s-lg-gtitle s-lib-color-lt-grey">
                                    <a class="bold" href="https://yorkhouse.libguides.com/c.php?g=743117">2024/25 -
                                        English 8 - Research Training (Taylor Swift/Tenorio's Aviary)</a>
                                    <div class="s-ui-helptip"><button id="s-ui-helptip-btn-guide-info-743117"
                                            type="button" class="btn btn-link btn-help-popover"
                                            data-ajload="/index_process.php?action=175&amp;guide_id=743117&amp;group_id=0"
                                            data-title="2024/25 - English 8 - Research Training (Taylor Swift/Tenorio's Aviary)"><i
                                                class="fa fa-info-circle"></i><span class="sr-only">View Guide
                                                Info</span></button></div>
                                    <div class="s-lg-gmeta pull-right s-lg-small s-lib-color-lt-grey">
                                        <span title="Last Updated" class="s-lib-color-lt-grey"><i
                                                class="fa fa-edit icon-small"></i> <span class="sr-only">Last
                                                Updated</span>Feb 20, 2025</span>
                                        <span title="Number of visits this year" class="pad-left-med hitst"><i
                                                class="fa fa-eye icon-small"></i> 5<span class="sr-only">
                                                views</span></span>
                                    </div>
                                </div>
                            </div> <!-- gd -->
                        </div>
                    </div><!-- index_page_guide_list_row.twig -->
                    <div>
                        <div class="s-lib-box s-lib-border-round s-lib-box-idx-guide-list">
                            <div class="s-lib-box-content">
                                <div class="s-lg-gtitle s-lib-color-lt-grey">
                                    <a class="bold" href="https://yorkhouse.libguides.com/c.php?g=743242">2024/25 -
                                        English 11/12 - "Five Little Indians" Book Study</a>
                                    <div class="s-ui-helptip"><button id="s-ui-helptip-btn-guide-info-743242"
                                            type="button" class="btn btn-link btn-help-popover"
                                            data-ajload="/index_process.php?action=175&amp;guide_id=743242&amp;group_id=0"
                                            data-title="2024/25 - English 11/12 - &quot;Five Little Indians&quot; Book Study"><i
                                                class="fa fa-info-circle"></i><span class="sr-only">View Guide
                                                Info</span></button></div>
                                    <div class="s-lg-gmeta pull-right s-lg-small s-lib-color-lt-grey">
                                        <span title="Last Updated" class="s-lib-color-lt-grey"><i
                                                class="fa fa-edit icon-small"></i> <span class="sr-only">Last
                                                Updated</span>Feb 20, 2025</span>
                                        <span title="Number of visits this year" class="pad-left-med hitst"><i
                                                class="fa fa-eye icon-small"></i> 0<span class="sr-only">
                                                views</span></span>
                                    </div>
                                </div>
                            </div> <!-- gd -->
                        </div>
                    </div><!-- index_page_guide_list_row.twig -->
                    <div>
                        <div class="s-lib-box s-lib-border-round s-lib-box-idx-guide-list">
                            <div class="s-lib-box-content">
                                <div class="s-lg-gtitle s-lib-color-lt-grey">
                                    <a class="bold" href="https://yorkhouse.libguides.com/c.php?g=743121">2024/25 -
                                        Composition 11 - The Handmaid's Tale Research</a>
                                    <div class="s-ui-helptip"><button id="s-ui-helptip-btn-guide-info-743121"
                                            type="button" class="btn btn-link btn-help-popover"
                                            data-ajload="/index_process.php?action=175&amp;guide_id=743121&amp;group_id=0"
                                            data-title="2024/25 - Composition 11 - The Handmaid's Tale Research"><i
                                                class="fa fa-info-circle"></i><span class="sr-only">View Guide
                                                Info</span></button></div>
                                    <div class="s-lg-gmeta pull-right s-lg-small s-lib-color-lt-grey">
                                        <span title="Last Updated" class="s-lib-color-lt-grey"><i
                                                class="fa fa-edit icon-small"></i> <span class="sr-only">Last
                                                Updated</span>Feb 20, 2025</span>
                                        <span title="Number of visits this year" class="pad-left-med hitst"><i
                                                class="fa fa-eye icon-small"></i> 0<span class="sr-only">
                                                views</span></span>
                                    </div>
                                </div>
                            </div> <!-- gd -->
                        </div>
                    </div><!-- index_page_guide_list_row.twig -->
                    <div>
                        <div class="s-lib-box s-lib-border-round s-lib-box-idx-guide-list">
                            <div class="s-lib-box-content">
                                <div class="s-lg-gtitle s-lib-color-lt-grey">
                                    <a class="bold" href="https://yorkhouse.libguides.com/c.php?g=743123">2024/25 - Comp
                                        Cultures 12 - Timeline Project: 3 Religions </a>
                                    <div class="s-ui-helptip"><button id="s-ui-helptip-btn-guide-info-743123"
                                            type="button" class="btn btn-link btn-help-popover"
                                            data-ajload="/index_process.php?action=175&amp;guide_id=743123&amp;group_id=0"
                                            data-title="2024/25 - Comp Cultures 12 - Timeline Project: 3 Religions "><i
                                                class="fa fa-info-circle"></i><span class="sr-only">View Guide
                                                Info</span></button></div>
                                    <div class="s-lg-gmeta pull-right s-lg-small s-lib-color-lt-grey">
                                        <span title="Last Updated" class="s-lib-color-lt-grey"><i
                                                class="fa fa-edit icon-small"></i> <span class="sr-only">Last
                                                Updated</span>Feb 20, 2025</span>
                                        <span title="Number of visits this year" class="pad-left-med hitst"><i
                                                class="fa fa-eye icon-small"></i> 0<span class="sr-only">
                                                views</span></span>
                                    </div>
                                </div>
                            </div> <!-- gd -->
                        </div>
                    </div><!-- index_page_guide_list_row.twig -->
                    <div>
                        <div class="s-lib-box s-lib-border-round s-lib-box-idx-guide-list">
                            <div class="s-lib-box-content">
                                <div class="s-lg-gtitle s-lib-color-lt-grey">
                                    <a class="bold" href="https://yorkhouse.libguides.com/c.php?g=743124">2023/24 -
                                        Science 9 - Experiments</a>
                                    <div class="s-ui-helptip"><button id="s-ui-helptip-btn-guide-info-743124"
                                            type="button" class="btn btn-link btn-help-popover"
                                            data-ajload="/index_process.php?action=175&amp;guide_id=743124&amp;group_id=0"
                                            data-title="2023/24 - Science 9 - Experiments"><i
                                                class="fa fa-info-circle"></i><span class="sr-only">View Guide
                                                Info</span></button></div>
                                    <div class="s-lg-gmeta pull-right s-lg-small s-lib-color-lt-grey">
                                        <span title="Last Updated" class="s-lib-color-lt-grey"><i
                                                class="fa fa-edit icon-small"></i> <span class="sr-only">Last
                                                Updated</span>Feb 20, 2025</span>
                                        <span title="Number of visits this year" class="pad-left-med hitst"><i
                                                class="fa fa-eye icon-small"></i> 0<span class="sr-only">
                                                views</span></span>
                                    </div>
                                </div>
                            </div> <!-- gd -->
                        </div>
                    </div><!-- index_page_guide_list_row.twig -->
                    <div>
                        <div class="s-lib-box s-lib-border-round s-lib-box-idx-guide-list">
                            <div class="s-lib-box-content">
                                <div class="s-lg-gtitle s-lib-color-lt-grey">
                                    <a class="bold" href="https://yorkhouse.libguides.com/c.php?g=743125">2023/24 - Life
                                        Science 11 - Journal Club</a>
                                    <div class="s-ui-helptip"><button id="s-ui-helptip-btn-guide-info-743125"
                                            type="button" class="btn btn-link btn-help-popover"
                                            data-ajload="/index_process.php?action=175&amp;guide_id=743125&amp;group_id=0"
                                            data-title="2023/24 - Life Science 11 - Journal Club"><i
                                                class="fa fa-info-circle"></i><span class="sr-only">View Guide
                                                Info</span></button></div>
                                    <div class="s-lg-gmeta pull-right s-lg-small s-lib-color-lt-grey">
                                        <span title="Last Updated" class="s-lib-color-lt-grey"><i
                                                class="fa fa-edit icon-small"></i> <span class="sr-only">Last
                                                Updated</span>Feb 20, 2025</span>
                                        <span title="Number of visits this year" class="pad-left-med hitst"><i
                                                class="fa fa-eye icon-small"></i> 0<span class="sr-only">
                                                views</span></span>
                                    </div>
                                </div>
                            </div> <!-- gd -->
                        </div>
                    </div><!-- index_page_guide_list_row.twig -->
                    <div>
                        <div class="s-lib-box s-lib-border-round s-lib-box-idx-guide-list">
                            <div class="s-lib-box-content">
                                <div class="s-lg-gtitle s-lib-color-lt-grey">
                                    <a class="bold" href="https://yorkhouse.libguides.com/c.php?g=743119">2023/24 -
                                        Grade 9 History - Revolutions Research</a>
                                    <div class="s-ui-helptip"><button id="s-ui-helptip-btn-guide-info-743119"
                                            type="button" class="btn btn-link btn-help-popover"
                                            data-ajload="/index_process.php?action=175&amp;guide_id=743119&amp;group_id=0"
                                            data-title="2023/24 - Grade 9 History - Revolutions Research"><i
                                                class="fa fa-info-circle"></i><span class="sr-only">View Guide
                                                Info</span></button></div>
                                    <div class="s-lg-gmeta pull-right s-lg-small s-lib-color-lt-grey">
                                        <span title="Last Updated" class="s-lib-color-lt-grey"><i
                                                class="fa fa-edit icon-small"></i> <span class="sr-only">Last
                                                Updated</span>Feb 20, 2025</span>
                                        <span title="Number of visits this year" class="pad-left-med hitst"><i
                                                class="fa fa-eye icon-small"></i> 1<span class="sr-only">
                                                views</span></span>
                                    </div>
                                </div>
                            </div> <!-- gd -->
                        </div>
                    </div><!-- index_page_guide_list_row.twig -->
                    <div>
                        <div class="s-lib-box s-lib-border-round s-lib-box-idx-guide-list">
                            <div class="s-lib-box-content">
                                <div class="s-lg-gtitle s-lib-color-lt-grey">
                                    <a class="bold" href="https://yorkhouse.libguides.com/c.php?g=743115">2023/24 -
                                        English First Peoples 12 - Trickster Research</a>
                                    <div class="s-ui-helptip"><button id="s-ui-helptip-btn-guide-info-743115"
                                            type="button" class="btn btn-link btn-help-popover"
                                            data-ajload="/index_process.php?action=175&amp;guide_id=743115&amp;group_id=0"
                                            data-title="2023/24 - English First Peoples 12 - Trickster Research"><i
                                                class="fa fa-info-circle"></i><span class="sr-only">View Guide
                                                Info</span></button></div>
                                    <div class="s-lg-gmeta pull-right s-lg-small s-lib-color-lt-grey">
                                        <span title="Last Updated" class="s-lib-color-lt-grey"><i
                                                class="fa fa-edit icon-small"></i> <span class="sr-only">Last
                                                Updated</span>Feb 20, 2025</span>
                                        <span title="Number of visits this year" class="pad-left-med hitst"><i
                                                class="fa fa-eye icon-small"></i> 0<span class="sr-only">
                                                views</span></span>
                                    </div>
                                </div>
                            </div> <!-- gd -->
                        </div>
                    </div><!-- index_page_guide_list_row.twig -->
                    <div>
                        <div class="s-lib-box s-lib-border-round s-lib-box-idx-guide-list">
                            <div class="s-lib-box-content">
                                <div class="s-lg-gtitle s-lib-color-lt-grey">
                                    <a class="bold" href="https://yorkhouse.libguides.com/c.php?g=743120">2023/24 -
                                        Anatomy &amp; Physiology 12 - Journal Club</a>
                                    <div class="s-ui-helptip"><button id="s-ui-helptip-btn-guide-info-743120"
                                            type="button" class="btn btn-link btn-help-popover"
                                            data-ajload="/index_process.php?action=175&amp;guide_id=743120&amp;group_id=0"
                                            data-title="2023/24 - Anatomy &amp; Physiology 12 - Journal Club"><i
                                                class="fa fa-info-circle"></i><span class="sr-only">View Guide
                                                Info</span></button></div>
                                    <div class="s-lg-gmeta pull-right s-lg-small s-lib-color-lt-grey">
                                        <span title="Last Updated" class="s-lib-color-lt-grey"><i
                                                class="fa fa-edit icon-small"></i> <span class="sr-only">Last
                                                Updated</span>Feb 20, 2025</span>
                                        <span title="Number of visits this year" class="pad-left-med hitst"><i
                                                class="fa fa-eye icon-small"></i> 1<span class="sr-only">
                                                views</span></span>
                                    </div>
                                </div>
                            </div> <!-- gd -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div id="s-lg-guide-main" class="container s-lib-main s-lib-side-borders" tabindex="-1">
        {{empty_page_sub_page_list}}
        {{content}}
        {{page_prev_next_links}}
    </div>
    <!-- END: Guide Content -->

    <div id="page-footer">
        <div id="default-page-footer" class="s-lib-footer footer container s-lib-side-borders">
            <div id="s-lg-guide-header-meta" class="pad-top-sm pad-left-med clearfix">
                <ul id="s-lg-guide-header-attributes" class="">
                    <li id="s-lg-guide-header-updated" class="s-lg-h-separator">
                        {{last_updated_display}} </li>
                    <li id="s-lg-guide-header-url" class="s-lg-h-separator">
                        {{guide_url_display}}
                    </li>
                    <li id="s-lg-guide-print-url">
                        {{print_url_display}}
                    </li>
                </ul>
                <div id="s-lib-footer-login-link" class="pull-right pad-right-med">
                    {{login_url_display}} </div>
            </div>
            <div class="pad-bottom-sm clearfix">
                <div id="s-lib-footer-support-link" class="pull-right pad-right-med">
                    {{support_url_display}} </div>
                <div id="s-lg-guide-header-subjects" class="pad-top-sm pad-left-med pad-right-med pull-left">
                    {{guide_subjects}}
                </div>
                <div id="s-lg-guide-header-tags" class="pad-top-sm pad-left-med">
                    {{guide_tags}}
                </div>
            </div>
        </div>
        {{public_footer}}
    </div>

    <!-- Below this point is default LibGuides utilities: Scroll to Top & Alerts.-->
    <!-- scroll_top.twig -->
    <div id="s-lib-scroll-top">
        <a href="javascript:void(0);" onclick="jQuery('body').focus();" title="Back to Top" aria-label="Back to Top">
            <span class="fa-stack fa-lg" aria-hidden="true">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-angle-double-up fa-stack-1x" style="position:relative; bottom:2px;"></i>
            </span>
        </a>
    </div>
    <!-- !scroll_top.twig -->
    <div id="s-lib-alert" title="">
        <div id="s-lib-alert-content"></div>
    </div>
</body>