<body class="s-lib-public-body">
    <script> // Force the page to be sorted by recency, without selection.
        let isNotSortedByRecency = window.location.search != "?b=g&d=r"
        if (isNotSortedByRecency) {
            window.location.href = window.location.pathname + "?b=g&d=r"
        }
    </script>
    {{public_header}}
    <div id="homepage" class="page-content">
        <div id="page-navigation-bar">{{page_nav}}</div>
        <div id="s-lg-index-list" style="display:none">
            <!-- Need content to be inside a div with this ID. It breaks otherwise. -->
            {{content}}
        </div>

        <div id="homepage-hero">
            <div class="title-container">
                <img class="title-bookends" src="https://d1qywhc7l90rsa.cloudfront.net/customers/10289/images/pink_yellow_thick_overlay_trimmed.png">
                <div class="title-text">
                    <h1>{{title}}</h1>
                    <h2>{{system_intro}}</h2>
                </div>
                <img class="title-bookends" src="https://d1qywhc7l90rsa.cloudfront.net/customers/10289/images/pink_yellow_thick_overlay_trimmed.png">
            </div>
            <img class="hero-image"
            src="https://d1qywhc7l90rsa.cloudfront.net/customers/10289/images/Library_-_Crystalize.jpg"
            alt="hero-basic" />
        </div>
        <div class="feature-section">
            <div class="feature-section-header">
                <div class="feature-section-label">
                    <h2>Collaboration Updates</h2>
                    <p>Assignments, Clubs & More</p>
                </div>
                <a href="/collaboration" target="_blank">
                    Browse Collaboration
                </a>
            </div>
            <div id="featured-assignments" class="feature-container"></div>
        </div>
        <div class="feature-section">
            <div class="feature-section-header">
                <div class="feature-section-label">
                    <h2>Library Updates</h2>
                    <p>News, Resources & Guides</p>
                </div>
                <a class="feature-section-button" href="/posts" target="_blank">
                    Browse Posts
                </a>
            </div>
            <div id="featured-guides" class="feature-container"></div>
        </div>
        <script defer> // Populate carousel with homepage guide list -->
            $(window).on('load', function () {
                (function myLoop(i) {
                    setTimeout(function () {
                        console.log("looping...")
                        /* If results have loaded, and first append was successful, continue. Otherwise trigger another loop. */
                        if (appendCards("*", ".s-lib-box-idx-guide-list .s-lg-gtitle.s-lib-color-lt-grey", "button", "#featured-assignments")) {
                            appendCards("!", ".s-lib-box-idx-guide-list .s-lg-gtitle.s-lib-color-lt-grey", "button", "#featured-guides")
                            return;
                        }
                        else if (--i) myLoop(i);   //  decrement i and call myLoop again if i > 0
                    }, 20)
                })(10);                   //  pass the number of iterations as an argument
            });
        </script>
        <script> // Drag to scroll
            document.addEventListener('DOMContentLoaded', function () {
                const collection = document.getElementsByClassName('feature-container');
                for (let i = 0; i < collection.length; i++) {
                    const ele = collection[i];
                    ele.style.cursor = 'grab';

                    let pos = { top: 0, left: 0, x: 0, y: 0 };

                    const mouseDownHandler = function (e) {
                        ele.style.cursor = 'grabbing';
                        ele.style.userSelect = 'none';

                        pos = {
                            left: ele.scrollLeft,
                            top: ele.scrollTop,
                            // Get the current mouse position
                            x: e.clientX,
                            y: e.clientY,
                        };

                        document.addEventListener('mousemove', mouseMoveHandler);
                        document.addEventListener('mouseup', mouseUpHandler);
                    };

                    const mouseMoveHandler = function (e) {
                        // How far the mouse has been moved
                        const dx = e.clientX - pos.x;
                        const dy = e.clientY - pos.y;

                        // Scroll the element
                        ele.scrollTop = pos.top - dy;
                        ele.scrollLeft = pos.left - dx;
                    };

                    const mouseUpHandler = function () {
                        ele.style.cursor = 'grab';
                        ele.style.removeProperty('user-select');

                        document.removeEventListener('mousemove', mouseMoveHandler);
                        document.removeEventListener('mouseup', mouseUpHandler);
                    };

                    // Attach the handler
                    ele.addEventListener('mousedown', mouseDownHandler);
                }
            });
        </script>
        <div id="homepage-resource-hero">
            <div class="text-container">
                <div>
                    <h3>Learn & Unwind</h3>
                    <p>
                        With 21 databases,<br>
                        more than 7000 eBooks,<br>
                        almost 1500 audiobooks,<br>
                        and over 9000 books!
                    </p>
                </div>
                <a href="/az.php" target="_blank">
                    Explore Our Resources!
                </a>
            </div>
            <div class="visual-container">
                <video class="resource-hero-visual" width="256" height="256" preload="metadata"
                    style="background: black  url('https://cdn-icons-png.flaticon.com/512/15577/15577943.png') 50% 50% / fit no-repeat;"
                    loop="true" muted="muted" playsinline="">
                    <source src="https://cdn-icons-mp4.flaticon.com/512/15577/15577943.mp4#t=0.1" type="video/mp4">
                </video>
                <a class="resource-hero-visual-credit" href="https://www.flaticon.com/free-animated-icons/reading"
                    title="crediting">Animation by Freepik - Flaticon</a>
            </div>
        </div>
        <script> /* Animate hero visual on hover */
            const hero = document.getElementById('homepage-resource-hero');
            var video = hero.getElementsByClassName("resource-hero-visual")[0]

            hero.addEventListener('mouseenter', () => {
                video.play();
            });

            hero.addEventListener('mouseleave', () => {
                video.pause();
            });
        </script>
        {{content_boxes}} <!-- Librarians, Blog List, etc.-->
    </div>
    {{public_footer}}
    <div id="default-footer" style="display: none;"> {{system_footer}} </div>
    <div id="default-libguide-utilities">
        <div id="s-lib-alert" title="">
            <div id="s-lib-alert-content"></div>
        </div>
        <!-- popover.twig -->
        <div id="s-lib-popover-title" class="hide">
            <span class="text-info">
                <strong>title</strong>
            </span>
    
            <button type="button" id="popclose" class="close" onclick="jQuery('.s-lib-popover').popover('hide')">
                &times;
            </button>
        </div>
        <div id="s-lib-popover-content" class="hide">
            <i class="fa fa-refresh fa-spin"></i> Loading...
            <button class="btn btn-default btn-sm popclose" type="button">Close</button>
        </div>
        <!-- !popover.twig -->
    </div>
</body>