<body class="s-lib-public-body">
    <script> // Force the page to be sorted by recency, without selection.
        let isNotSortedByRecency = window.location.search != "?b=g&d=r"
        if (isNotSortedByRecency) {
            window.location.href = window.location.pathname+"?b=g&d=r"
        }
    </script>
    <div id="site-header">{{public_header}}</div>
    <div id="page-content">
        <div id="page-navigation-bar">{{page_nav}}</div>
        <div id="page-heading">
            <h1 id="s-lib-public-header-title">{{title}}</h1>
            <div id="s-lib-public-header-desc">{{system_intro}}</div>
        </div>
        <div id="s-lg-index-list"> <!-- Need content to be inside a div with this ID. It breaks otherwise. -->
            {{content}}
        </div>
        {{content_boxes}} <!-- Librarians, Blog List-->
    </div>
    <div id="page-footer">
        <div id="default-page-footer" style="display: none;"> <!-- Keep this hidden, rip out the subjects & login for reuse in public footer.-->
            {{system_footer}}
        </div>
        {{public_footer}}
    </div>
    <!-- Below this point is default LibGuides utilities: Popups & Scroll to Top.-->
    <div id="s-lib-alert" title="">
        <div id="s-lib-alert-content"></div>
    </div>
    <!-- popover.twig -->
    <div id="s-lib-popover-title" class="hide">
        <span class="text-info">
            <strong>title</strong>
        </span>

        <button type="button" id="popclose" class="close" onclick="jQuery('.s-lib-popover').popover('hide')">
            &times;
        </button>
    </div>

    <div id="s-lib-popover-content" class="hide">
        <i class="fa fa-refresh fa-spin"></i> Loading...
        <button class="btn btn-default btn-sm popclose" type="button">Close</button>
    </div>
    <!-- !popover.twig -->
    <!-- scroll_top.twig -->
    <div id="s-lib-scroll-top">
        <a href="javascript:void(0);" onclick="jQuery('body').focus();" title="Back to Top" aria-label="Back to Top">
            <span class="fa-stack fa-lg" aria-hidden="true">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-angle-double-up fa-stack-1x" style="position:relative; bottom:2px;"></i>
            </span>
        </a>
    </div>
    <!-- !scroll_top.twig -->
</body>