<body class="s-lib-public-body">
    <script> // Force the page to be sorted by recency, without selection.
        let isNotSortedByRecency = window.location.search != "?b=g&d=r"
        if (isNotSortedByRecency) {
            window.location.href = window.location.pathname + "?b=g&d=r"
        }
    </script>
    <div id="site-header">{{public_header}}</div>
    <div id="page-content">
        <div id="page-navigation-bar">{{page_nav}}</div>
        <div id="s-lg-index-list" style="display:none">
            <!-- Need content to be inside a div with this ID. It breaks otherwise. -->
            {{content}}
        </div>

        <div class="hero-section">
            <img class="hero-section-image"
                src="https://d1qywhc7l90rsa.cloudfront.net/customers/10289/images/entrance_photo.jpg"
                alt="hero-basic" />
            <div class="hero-section-text-container">
                <p class="hero-section-large-text">Welcome,</p>
                <p class="hero-section-medium-text">{{title}}</p>
                <p class="hero-section-small-text">{{system_intro}}</p>
            </div>
        </div>
        <div class="feature-section">
            <div class="feature-section-header">
                <div class="feature-section-label">
                    <h2>Collaboration Updates</h2>
                    <p>Assignments, Clubs & More</p>
                </div>
                <a class="feature-section-button" href="/collaboration" target="_blank">
                    Browse Collaboration
                </a>
            </div>
            <div id="featured-assignments" class="feature-container"></div>
        </div>
        <div class="feature-section">
            <div class="feature-section-header">
                <div class="feature-section-label">
                    <h2>Library Updates</h2>
                    <p>News, Resources & Guides</p>
                </div>
                <a class="feature-section-button" href="/posts" target="_blank">
                    Browse Posts
                </a>
            </div>
            <div id="featured-guides" class="feature-container"></div>
        </div>
        <script defer> // Populate carousel with homepage guide list -->
            $(window).on('load', function () {
                (function myLoop(i) {
                    setTimeout(function () {
                        console.log("looping...")
                        if (getCards("*", "View Assignment", "#featured-assignments")) {
                            getCards("!", "View Post", "#featured-guides")
                            return;
                        }
                        else if (--i) myLoop(i);   //  decrement i and call myLoop again if i > 0
                    }, 20)
                })(10);                   //  pass the number of iterations as an argument
                function getCards(selector, buttonText, outputQuery) {
                    // 1. jQuery grabs featured list elements.
                    output = $('.s-lib-box-idx-guide-list .s-lg-gtitle.s-lib-color-lt-grey').filter(function (index) {
                        return $(this).find('a').text().charAt(0) == selector;
                    });

                    if (output.length == 0) {
                        console.log("No pages matched queries! Check if titles have been marked with '*' or '!'.")
                        return false;
                    }

                    // 2. Extract links from them.
                    var titleList = Array(output.length)
                    output.find('a').each(function (i, value) {
                        titleList[i] = $(this).text().replace(/(\r\n|\n|\r)/gm, "").replace(/\s+/g, ' ');
                    });
                    // 3. Extract php requests from them.
                    var phpList = Array(titleList.length)
                    output.find('button').each(function (i, value) {
                        phpList[i] = $(this).attr('data-ajload');
                    });

                    // 4. Process php response as html.
                    var html = Array(phpList.length);
                    var allAJAX = phpList.map((link, index) => {
                        return $.ajax({
                            type: "GET",
                            url: link,
                            async: true,
                            success: function (response) {
                                imageSource = "https://d1qywhc7l90rsa.cloudfront.net/customers/10289/images/" + titleList[index].substring(1).replace(/( |\/|\"|\')/g, "_") + ".jpg"
                                image = `<img class="carousel-card-image" src="` + imageSource + `" onerror="this.onerror=null; this.src='https://d1qywhc7l90rsa.cloudfront.net/customers/10289/images/Default_Featured.jpg'" alt="" width="222"height="148">`
                                
                                noNewlines = response.replace(/(?:\\n)/g, '');
                                fixElements = noNewlines.replace(/(?:\\\/)/g, '/');
                                fixLinks = fixElements.replace(/(?:\\\"\/|\\\")/g, '');
                                cutStyle = fixLinks.replace(/(?:style=.*?;>)/g, '>');
                                cutHeader = cutStyle.substring(
                                    cutStyle.indexOf("-->") + 3,
                                    cutStyle.lastIndexOf("<span>")
                                );
                                forceNewWindow = cutHeader.replace(/<a/g, "<a target=_blank")
                                replaceLabels = forceNewWindow.replace("Go to Guide", buttonText).replace("Subjects:", "").replace("Posts: ", "").replace("Assignments: ", "").replace("_In Progress", "In Progress")
                                link_regular_expression = /window\.location\.href='(.*)'/g
                                link = link_regular_expression.exec(cutHeader)[1];
                                title = "<h3 class='carousel-card-title'><a target='_blank' href='" + link + "'>" + titleList[index].substring(1) + "</a></h3>"
                                html[index] = "<div class='carousel-card'>" + image + title + replaceLabels + "</div></div></div>";
                            }
                        });
                    });
                    Promise.all(allAJAX).then(function () {
                        html.forEach((element) => 
                            $(outputQuery).append(element)
                        );
                    });

                    return true
                }
            });
        </script>
        <script> // Drag to scroll
            document.addEventListener('DOMContentLoaded', function () {
                const collection = document.getElementsByClassName('feature-container');
                for (let i = 0; i < collection.length; i++) {
                    const ele = collection[i];
                    ele.style.cursor = 'grab';

                    let pos = { top: 0, left: 0, x: 0, y: 0 };

                    const mouseDownHandler = function (e) {
                        ele.style.cursor = 'grabbing';
                        ele.style.userSelect = 'none';

                        pos = {
                            left: ele.scrollLeft,
                            top: ele.scrollTop,
                            // Get the current mouse position
                            x: e.clientX,
                            y: e.clientY,
                        };

                        document.addEventListener('mousemove', mouseMoveHandler);
                        document.addEventListener('mouseup', mouseUpHandler);
                    };

                    const mouseMoveHandler = function (e) {
                        // How far the mouse has been moved
                        const dx = e.clientX - pos.x;
                        const dy = e.clientY - pos.y;

                        // Scroll the element
                        ele.scrollTop = pos.top - dy;
                        ele.scrollLeft = pos.left - dx;
                    };

                    const mouseUpHandler = function () {
                        ele.style.cursor = 'grab';
                        ele.style.removeProperty('user-select');

                        document.removeEventListener('mousemove', mouseMoveHandler);
                        document.removeEventListener('mouseup', mouseUpHandler);
                    };

                    // Attach the handler
                    ele.addEventListener('mousedown', mouseDownHandler);
                }
            });
        </script>

        <div class="resource-hero">
            <div class="resource-hero-text-container">
                <div>
                    <h3>Learn & Unwind</h3>
                    <p>
                        With 21 databases,<br>
                        more than 7000 eBooks,<br>
                        almost 1500 audiobooks,<br>
                        and over 9000 books!
                    </p>
                </div>
                <a class="resource-hero-button" href="/az.php" target="_blank">
                    Explore Our Resources!
                </a>
            </div>
            <div class="resource-hero-visual-container">
                <video class="resource-hero-visual" width="256" height="256" preload="metadata"
                    style="background: black  url('https://cdn-icons-png.flaticon.com/512/15577/15577943.png') 50% 50% / fit no-repeat;"
                    loop="true" muted="muted" playsinline="">
                    <source src="https://cdn-icons-mp4.flaticon.com/512/15577/15577943.mp4#t=0.1" type="video/mp4">
                </video>
                <a class="resource-hero-visual-credit" href="https://www.flaticon.com/free-animated-icons/reading"
                    title="crediting">Animation by Freepik - Flaticon</a>
            </div>
        </div>
        <script> /* Animate hero visual on hover */
            const hero = document.querySelectorAll('.resource-hero');

            hero.forEach(hero => {
                var video = hero.getElementsByClassName("resource-hero-visual")[0]

                hero.addEventListener('mouseenter', () => {
                    video.play();
                });

                hero.addEventListener('mouseleave', () => {
                    video.pause();
                    video.currentTime = 0;
                });
            });
        </script>
        {{content_boxes}} <!-- Librarians, Blog List, etc.-->
    </div>
    <div id="page-footer">
        <div id="default-page-footer">
            {{system_footer}}
        </div>
        {{public_footer}}
    </div>

    <!-- Below this point is default LibGuides utilities: Popups & Scroll to Top.-->
    <div id="s-lib-alert" title="">
        <div id="s-lib-alert-content"></div>
    </div>
    <!-- popover.twig -->
    <div id="s-lib-popover-title" class="hide">
        <span class="text-info">
            <strong>title</strong>
        </span>

        <button type="button" id="popclose" class="close" onclick="jQuery('.s-lib-popover').popover('hide')">
            &times;
        </button>
    </div>
    <div id="s-lib-popover-content" class="hide">
        <i class="fa fa-refresh fa-spin"></i> Loading...
        <button class="btn btn-default btn-sm popclose" type="button">Close</button>
    </div>
    <!-- !popover.twig -->
</body>