<body class="s-lib-public-body">
    {{public_header}}
    <div id="page-content" class="subject">
        <div id="s-lib-public-header" class="s-lib-header container s-lib-side-borders">
            <h1 id="s-lib-public-header-title">{{page_title}}</h1>
            <!--<div id="s-lib-public-header-desc">{{page_description}}</div>-->
        </div>
        <div id="s-lib-public-nav" class="container s-lib-side-borders">
            {{page_nav}}
        </div>
        <div id="s-lib-public-main" class="s-lib-main container s-lib-side-borders" tabindex="-1">
            <div id="s-lg-sb-guides" style="display: none !important;">
                <div id="s-lg-sb-content-guides"></div>
            </div>
            <div id="s-lg-sb-databases">
                <div id="s-lg-sb-content-databases"></div>
            </div>
            <div id="card-target"></div>
        </div>
        <script defer>  // Remove special char prefix from title display
            document.addEventListener('DOMContentLoaded', function () {
                jQuery('.s-lg-gtitle a').each(function (i, obj) {
                    var title = $(this).text()
                    if (title.charAt(0) == "*" || title.charAt(0) == "!") {
                        $(this).text(title.substring(1));
                    }
                });
            });
            $(window).on('load', function () {
                (function myLoop(i) {
                    setTimeout(function () {
                        /* If results have loaded, and first append was successful, continue. Otherwise trigger another loop. */
                        if (appendCards("", "#s-lg-sb-content-guides .s-lg-gtitle", ".fa-info-circle", "#card-target")) { return; }
                        else if (--i) myLoop(i);   //  decrement i and call myLoop again if i > 0
                    }, 20)
                })(10);                   //  pass the number of iterations as an argument
                function trimTitle() {
                    var foundContent = false
                    jQuery('.s-lg-gtitle a').each(function (i, obj) {
                        foundContent = true
                        var title = $(this).text()
                        if (title.charAt(0) == "*" || title.charAt(0) == "!") {
                            $(this).text(title.substring(1));
                        }
                    });
                    return foundContent
                }
            });
        </script>
        </script>
    </div>
    <div id="site-footer">
        {{public_footer}}
        <div id="default-footer">
            {{system_footer}}
        </div>
    </div>
    <div id="default-libguide-utilities">
        <div id="s-lib-alert" title="">
            <div id="s-lib-alert-content"></div>
        </div>
        <!-- popover.twig -->
        <div id="s-lib-popover-title" class="hide">
            <span class="text-info">
                <strong>title</strong>
            </span>
    
            <button type="button" id="popclose" class="close" onclick="jQuery('.s-lib-popover').popover('hide')">
                &times;
            </button>
        </div>
        <div id="s-lib-popover-content" class="hide">
            <i class="fa fa-refresh fa-spin"></i> Loading...
            <button class="btn btn-default btn-sm popclose" type="button">Close</button>
        </div>
        <!-- !popover.twig -->
    </div>
</body>