<body class="s-lib-public-body">
    {{skip_link}}
    <!-- BEGIN: Page Header -->
    {{public_header}}
    <!-- END: Page Header -->
    <!-- BEGIN: Content Header -->
    <div id="s-lib-public-header" class="s-lib-header container s-lib-side-borders">
        <h1 id="s-lib-public-header-title">{{page_title}}</h1>
        <div id="s-lib-public-header-desc">{{page_description}}</div>
    </div>
    <!-- END: Content Header -->
    <!-- BEGIN: Nav Bar -->
    <div id="s-lib-public-nav" class="container s-lib-side-borders">
        {{page_nav}}
    </div>
    <!-- END: Nav Bar -->
    <!-- BEGIN: content -->
    <div id="s-lib-public-main" class="s-lib-main container s-lib-side-borders" tabindex="-1">
        <section aria-label="Content by Subject">
            <div id="s-lg-sb-cols" class="row">
                <div id="col1" class="col-md-8 center">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Guides
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show">
                                <div class="accordion-body">
                                    <div id="s-lg-sb-guides">
                                        <div id="s-lg-sb-content-guides"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Databases
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse show">
                                <div class="accordion-body">
                                    <div id="s-lg-sb-databases">
                                        <div id="s-lg-sb-content-databases"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Blog Posts
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse show">
                                <div class="accordion-body">
                                    <div id="s-lg-sb-blog-posts">
                                        <div id="s-lg-sb-content-blog-posts"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- END: content -->
    <div id="page-footer">
        <div id="default-page-footer">
            {{system_footer}}
        </div>
        {{public_footer}}
    </div>

    <script>  // Remove special char prefix from title display
        document.addEventListener('DOMContentLoaded', function () {
            jQuery('.s-lg-gtitle a').each(function (i, obj) {
                console.log("AA")
                var title = $(this).text()
                if (title.charAt(0) == "*" || title.charAt(0) == "!") {
                    $(this).text(title.substring(1));
                }
            });
        });
        $(window).on('load', function () {
            (function myLoop(i) {
                setTimeout(function () {
                    console.log("looping...")
                    if (trimTitle()) { return; }
                    else if (--i) myLoop(i);   //  decrement i and call myLoop again if i > 0
                }, 20)
            })(10);                   //  pass the number of iterations as an argument
            function trimTitle() {
                var foundContent = false
                jQuery('.s-lg-gtitle a').each(function (i, obj) {
                    foundContent = true
                    console.log("AA")
                    var title = $(this).text()
                    if (title.charAt(0) == "*" || title.charAt(0) == "!") {
                        $(this).text(title.substring(1));
                    }
                });
                return foundContent
            }
        });
    </script>

    <!-- Below this point is default LibGuides utilities: Popups & Alerts-->
    <div id="s-lib-alert" title="">
        <div id="s-lib-alert-content"></div>
    </div>
    <!-- popover.twig -->
    <div id="s-lib-popover-title" class="hide">
        <span class="text-info">
            <strong>title</strong>
        </span>

        <button type="button" id="popclose" class="close" onclick="jQuery('.s-lib-popover').popover('hide')">
            &times;
        </button>
    </div>
    <div id="s-lib-popover-content" class="hide">
        <i class="fa fa-refresh fa-spin"></i> Loading...
        <button class="btn btn-default btn-sm popclose" type="button">Close</button>
    </div>
    <!-- !popover.twig -->
</body>